body{

  background-image: url("idk6.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 165vh;
   
    }

h1{
  
  background-image: url("654.jpg");
    background-size: cover;
    font-size:70px;
    background-position: center;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;



}


h2{

background-image: url("654.jpg");
    background-size: cover;
    font-size:50px;
    background-position: center;
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;

}


  p{
    
    font-size: 20px;
    color: black;
    font-family: cursive;
    font: monospace;
    

    
  }




  a{
    text-decoration: underline;
    color: rgb(10, 160, 201);
    -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width:2px;
  }

#img1
 {
  width: 500px;
  border: 5px solid ;
  border-color:#fff;
 }

@media (max-width:600px) {

h1{
  font-size: 30px;
}

h2{
  font-size: 20px;
}

p{
font-size: 10px;
  }
}
